<h1>Teams#show</h1>
<p>Find me in app/views/teams/show.html.erb</p>
	<div class="row-fluid">
<!-- 		<%= button_to :edit, edit_team_path(@team),
				options = {
										method: :get,
										class: 'btn btn-sm btn-default'
									} %>
		<%= button_to :delete, team_path(@taem),
				options = {
										method: :delete,
										confirm: 'You sure?',
										class: 'btn btn-sm btn-danger'
									} %> -->
	</div>
