<h3>Edit Media</h3>
<%= link_to :back %>
<%= form_for [@event, @article], 
		html: { 
						class: 'form-horizontal',
						role: 'form'
					} do |f| %>
	<%= f.text_area :body, placeholder: 'Enter article here' %>
	<%= button_to 'Update Article!', name: 'commit', value: 'Update Article!', class: 'btn btn-large btn-success' %>
<% end %>
