<div class="container">	
	<% if @articles.blank? %>
		<h3>No Article Exists</h3>
		<em><%= render 'first_object' %></em>
	<% else %>
	<h1>Articles#index</h1>
	<p>Find me in app/views/articles/index.html.erb</p>
	<%= link_to :back %>
	<br />
	<div class="table-responsive">
		<table class="table table-bordered">
			<thead>
				<th>Title</th>
				<th>body</th>
			</thead>
			<tbody>
				<tr>
					<td>@article.title</td>
					<td>@article.body</td>
				</tr>
			</tbody>
		</table>
	</div><!-- END class table-responsive -->
	<% end %>
</div><!-- END class container -->
