<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>
	<%= div class="row-fluid">
		<%= button_to :edit, edit_events_path(@event),
				options = {
										method: :get,
										class: 'btn btn-sm btn-default'
									} %>
		<%= button_to :delete, event_path(@event),
				options = {
										method: :delete,
										confirm: 'You sure?',
										class: 'btn btn-sm btn-danger'
									} %>
	</div>
