<div>
	<h3>Team Management</h3>
	<% if @teams.nil? %>
	<div>
		<h3><small>No Team Exists</small></h3>
		<em>
			<%= link_to 'Create the first team!', new_university_team_path(@university) %>
		</em>
	</div>
	<% else %>
	<div>
		<%= render template: 'teams/index' %>
	</div>
	<% end %>
</div>
